body {

	background-image:url("../../assets/images/background.png");
	width: 960px;
	margin: auto;
}

#container  {
width: auto;

}
#container logo {
	background: blue;
	color: #F0E6E6;
	display: block;
	line-height: 2em;
	width: 7em;
	float:left;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li a {
	display: block;
	padding: 8px 16px;
	color: #000;
	text-decoration: none;
}
li a:hover {
	background-color: #555;
	color: white;
}
li {
	float: left;
}
a {
	padding: 8px;
	display: block;
	background-color: #dddddd;
	float: left;
}

section {
	height: 550px;
	width: 50%;
	float: left;
}
aside {
	height: 550px;
	width: auto;
	overflow: hidden;
	width: 50%;
}

h1,h2{
	clear: both;
}

nav{
	float: right;
}
